.flex {
  display: flex;
  box-sizing: border-box; }
  .flex.items-start {
    align-items: flex-start; }
  .flex.items-center {
    align-items: center; }
  .flex.items-end {
    align-items: flex-end; }
  .flex.items-baseline {
    align-items: baseline; }
  .flex.justify-start {
    justify-content: flex-start; }
  .flex.justify-center {
    justify-content: center; }
  .flex.justify-end {
    justify-content: flex-end; }
  .flex.justify-between {
    justify-content: space-between; }
  .flex.justify-around {
    justify-content: space-around; }
  .flex.justify-evenly {
    justify-content: space-evenly; }

.row {
  flex-direction: row;
  box-sizing: border-box; }
  .row.gap-0 > .box {
    margin-left: 0;
    margin-right: 0; }
    .row.gap-0 > .box:first-child {
      margin-left: 0; }
    .row.gap-0 > .box:last-child {
      margin-right: 0; }
  .row.gap-s > .box {
    margin-left: 0.25rem;
    margin-right: 0.25rem; }
    .row.gap-s > .box:first-child {
      margin-left: 0; }
    .row.gap-s > .box:last-child {
      margin-right: 0; }
  .row.gap-m > .box {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
    .row.gap-m > .box:first-child {
      margin-left: 0; }
    .row.gap-m > .box:last-child {
      margin-right: 0; }
  .row.gap-l > .box {
    margin-left: 1rem;
    margin-right: 1rem; }
    .row.gap-l > .box:first-child {
      margin-left: 0; }
    .row.gap-l > .box:last-child {
      margin-right: 0; }
  .row.gap-xl > .box {
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
    .row.gap-xl > .box:first-child {
      margin-left: 0; }
    .row.gap-xl > .box:last-child {
      margin-right: 0; }
  .row.gap-xxl > .box {
    margin-left: 2rem;
    margin-right: 2rem; }
    .row.gap-xxl > .box:first-child {
      margin-left: 0; }
    .row.gap-xxl > .box:last-child {
      margin-right: 0; }

.col {
  flex-direction: column;
  box-sizing: border-box; }
  .col.gap-0 > .box {
    margin-top: 0;
    margin-bottom: 0; }
    .col.gap-0 > .box:first-child {
      margin-top: 0; }
    .col.gap-0 > .box:last-child {
      margin-bottom: 0; }
  .col.gap-s > .box {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }
    .col.gap-s > .box:first-child {
      margin-top: 0; }
    .col.gap-s > .box:last-child {
      margin-bottom: 0; }
  .col.gap-m > .box {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
    .col.gap-m > .box:first-child {
      margin-top: 0; }
    .col.gap-m > .box:last-child {
      margin-bottom: 0; }
  .col.gap-l > .box {
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .col.gap-l > .box:first-child {
      margin-top: 0; }
    .col.gap-l > .box:last-child {
      margin-bottom: 0; }
  .col.gap-xl > .box {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    .col.gap-xl > .box:first-child {
      margin-top: 0; }
    .col.gap-xl > .box:last-child {
      margin-bottom: 0; }
  .col.gap-xxl > .box {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .col.gap-xxl > .box:first-child {
      margin-top: 0; }
    .col.gap-xxl > .box:last-child {
      margin-bottom: 0; }

.box {
  flex: 1 1 auto;
  box-sizing: border-box; }
  .box.fixed {
    flex-grow: 0;
    flex-shrink: 0; }
  .box.content-start, .box.content-center, .box.content-end {
    display: flex;
    flex-direction: column; }
  .box.content-start {
    justify-content: flex-start; }
  .box.content-center {
    justify-content: center; }
  .box.content-end {
    justify-content: flex-end; }
